<footer class="main-footer">
    <div class="container">
        <hr>
        <p>&copy; 2026 MiniERP - DAM1M04 Exercici 401</p>
        <p>Projecte realitzat amb Handlebars i Express</p>
    </div>
</footer>