<header class="main-header">
    <div class="header-container">
        <div class="logo-area">
            <img src="/img/logo.png" alt="Logo MiniERP" class="app-logo">
        </div>

        <div class="title-area">
            <h1>MiniERP <span class="store-type">| Backoffice</span></h1>
            <p class="subtitle">Gestió integral del negoci</p>
        </div>
    </div>
</header>